*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.video-cont{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.filter_layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}


video{
    width: 100%;
    height: 100%;
}

.action_cont{
    height: 12rem;
    width: 5rem;
    /*background-color: white;*/
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

.action_cont > *{
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record_btn{
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.capture_btn{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.scale_record{
    animation-name: scale-record;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scale_capture{
    animation-name: scale-capture;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.timer{
    bottom: 12rem;
    color: aqua;
    left: 3rem;
    position: absolute;
    display: block;
}

.filter_cont{
    position: absolute;
    left: 5rem;
    top: calc((100vh - 16rem)/2);
    width: 5rem;
    height: 16rem;
    z-index: 2;
}

.filter{
    height: 4rem;
    width: 5rem;
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    background-blend-mode: color-burn;
    background-position: center;
    background-size: 100% 100%;
    z-index: 2;
}

.orange{
    background-color: #ffa50030;
}

.purple{
    background-color: #ea59ea2b;
}
.blue{
    background-color: #0019ff33;
}

.saturate{
    filter: saturate(7);
}
@keyframes scale-record{
    0%{
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes scale-capture{
    0%{
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}